@use "../../../styles/abstracts/mixins/mixins" as *;
@use "../../../styles/base/colors/colors" as color;
@use "../../../styles/base/globals/globals" as size;

.alertBanner {
    width: 100%;
    max-width: 76.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: color.$color-alert-background;
    border: 0.125rem dashed color.$color-alert-border;
    padding: 1rem;
    border-radius: 1rem;
    margin-block-start: 3.75rem;

    &Icon {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    &Heading {
        color: color.$color-black-heading;
        font-size: size.$alert-banner-size;
        line-height: 2rem;
    }

    &MoreLink {
        letter-spacing: 0.0625rem;
        color: color.$color-alert-text;
        text-decoration: none;
    }
}
