@use "../../../styles/abstracts/mixins/mixins" as *;
@use "../../../styles/base/colors/colors" as color;
@use "../../../styles/base/globals/globals" as size;

.footer {
    border-top: 0.1rem solid color.$light-border;

    background-color: color.$light-background;
    color: color.$light-text;

    &Container {
        @include resizeContainer;
        padding-block: 2.5rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        & > .footerRegionsList {
            width: 100%;
            max-width: 65%;
            display: flex;
            flex-flow: column wrap;
            gap: 2.25rem;
            & > .regionsListHeading {
                font-weight: 500;
                color: color.$light-text;
                font-size: size.$alert-banner-size;
            }
        }

        & .regionsList {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            &Button {
                font-size: 1.1rem;
                padding: 0.625rem 0.5rem;
                border-radius: 0.5rem;
                background: color.$light-button-bg;
                color: color.$light-button-text;
            }
        }
    }

    &Information {
        width: 100%;
        max-width: 23%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &InformationHeading {
        font-weight: 500;
        color: color.$light-text;
        font-size: size.$alert-banner-size;
    }

    &InformationList {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    &InformationListItem {
        color: color.$light-text;
    }

    &SocialList {
        padding-block-start: 0.625rem;
        width: 100%;
        max-width: fit-content;
        border-top: 0.1rem solid color.$light-border;
        display: flex;
        align-items: center;
        gap: 0.725rem;
    }

    &SocialListItem {
        width: 100%;
        height: 100%;
        & > a {
            background: transparent;
            & > img {
                max-width: 100%;
                object-fit: cover;
                transition: transform 0.3s ease-in-out 0s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    &.dark-mode {
        background-color: color.$dark-background;
        color: color.$dark-text;

        &Container {
            & > .footerRegionsList {
                & > .regionsListHeading {
                    color: color.$dark-text;
                }
            }

            & .regionsList {
                &Button {
                    background: color.$dark-button-bg;
                    color: color.$dark-button-text;
                }
            }
        }

        &Information {
            &InformationHeading {
                color: color.$dark-text;
            }

            &InformationListItem {
                color: color.$dark-text;
            }
        }

        &SocialList {
            border-top: 0.1rem solid color.$dark-border;
        }
    }
}

@media (max-width: 64rem) {
    .footerInformation {
        max-width: 27%;
    }
}

@media (max-width: 56.5625rem) {
    .footerContainer {
        flex-direction: column;
        gap: 2rem;

        .footerRegionsList {
            max-width: 100%;
        }
    }

    .footerInformation {
        max-width: 100%;
    }
}

@media (max-width: 35.625rem) {
    .footerContainer {
        padding-inline: 0.8rem;
    }
}
