$color-black-heading: #0f3547;
$color-location-background: #0000000d;
$color-alert-background: rgb(252, 234, 171);
$color-alert-border: #f88463;
$color-alert-text: rgb(247, 71, 55);
$color-chart-button-background: #f0ebe2;
$color-settlements-background: #fdf7ee;

$light-background: #ffffff;
$light-text: #333333;

$dark-background: #121212;
$dark-text: #ffffff;
$dark-border: #333333;

$light-background: #ffffff;
$light-text: #333333;
$light-border: #f0ebe2;
$light-button-bg: $color-chart-button-background;
$light-button-text: #333333;

$dark-background: #121212;
$dark-text: #ffffff;
$dark-border: #ffffff;
$dark-button-bg: #333333;
$dark-button-text: #ffffff;
