$color-black-heading: #0f3547;
$color-location-background: #0000000d;
$color-alert-background: #fceaab;
$color-alert-border: #f88463;
$color-alert-text: #f74737;
$color-chart-button-background: #f0ebe2;

$light-background: #ffffff;
$light-text: #333333;

$dark-background: #121212;
$dark-text: #ffffff;
$dark-border: #333333;

$light-background: #ffffff;
$light-text: #333333;
$light-border: #f0ebe2;
$light-button-bg: #f0f0f0;
$light-button-text: #333333;

$dark-background: #121212;
$dark-text: #ffffff;
$dark-border: #ffffff;
$dark-button-bg: #333333;
$dark-button-text: #ffffff;
