@use "../abstracts/mixins/mixins" as *;
@use "../base/colors/colors" as color;
@use "../base/globals/globals" as size;

.home {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3.125rem;
}
