@use "../../../styles/abstracts/mixins/mixins" as *;
@use "../../../styles/base/colors/colors" as color;
@use "../../../styles/base/globals/globals" as size;

.buttonsChartBlock {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.5rem;

    & > .chartHeading {
        color: color.$color-black-heading;
        font-size: size.$chart-heading-size;
        line-height: 3.75rem;
    }

    & > .chartList {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    & .chartListItem {
        height: 100%;
    }

    & .chartListItemButton {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.3rem;
        width: 5.5rem;
        height: 4.0625rem;
        padding: 0.625rem 0.75rem;
        font-weight: 500;
        border-radius: 0.5rem;
        font-size: 1rem;
        background: color.$color-chart-button-background;
        color: color.$color-black-heading;
    }

    & .chartListItemNumberOfGroup {
        display: block;
        font-size: 1.2rem;
    }
}
